body{
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  color: black;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  color: black;
  border: solid black 2px;
  width: 10%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: teal ;
  font-weight:bold
}

.selected {
  background-color: tan;
}

img{
  width: 20%;
  height: 20%;
}

#about{
  border: solid black 3px;
  margin-top: 1rem;
  height: 30%;
}
